@mixin mq-small {
  @media only screen and (min-width: 320px) and (max-width: 600px) {
    @content;
  }
}

@mixin mq-medium {
  @media only screen and (min-width: 601px) and (max-width: 899px) {
    @content;
  }
}

@mixin mq-large {
  @media only screen and (min-width: 901px) and (max-width: 1024px) {
    @content;
  }
}

@mixin mq-xlarge {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin mq-custom($size) {
  @media only screen and ($size) {
    @content;
  }
}

body {
  @include mq-small {
    background: fuchsia;
  }
  @include mq-medium {
    background: blue;
  }
  @include mq-large {
    background: #036e4c;
  }
  @include mq-xlarge {
    background: rgb(90, 1, 90);
  }
  @include mq-custom(900px) {
    background: orange;
  }
}
